/* Estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
      
      .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
      }
      
      .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
      }
      
      .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
      }
      
      .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: italic;
      }
      
}

body{
    background-color: #ffffff;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ff00bf;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #000;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #ff00bf;
}

/* estilo de cabeçalho */

header{
    padding: 40px 4%; 
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #970071;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #ff00bf;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #ff00bf;
    transform: scale(1.05);
}

/* estilo do topo do site */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #000;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site  h1 span{
    color: #ff00bf;
    font-size: 65px;
}

.topo-do-site p{
    color: #000;
    margin: 40px 0;
    font-size: 24px;
}


/* Estilo das especialidades */

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #000;
    padding: 40px;
    border-radius: 25px;
    border: 2px solid #ff00bf;
    margin-top: 45px; 
    transition: .2s;  
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ff00bf;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* Estilo sobre mim */

section.sobre{
    padding: 40px 4%;
}

.sobre .txt-sobre{
    color: #000;
}

.sobre .txt-sobre h2{
    font-size: 42px;
    margin: 30px 0;
}

.sobre .txt-sobre h2 span{
    color: #ff00bf;
}

.sobre .txt-sobre p{
    font-size: 26px;
    margin: 30px 0;
    text-align: justify;
}

section.sobre .flex{
    gap: 60px;
    align-items: center;
}

/* Estilo de formulario */

section.formulario{
    padding: 80px 4%;
}

form{
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

form input{
  width: 100%;
  background-color: #d3d1d1b9;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #000;
  font-size: 12px;
}

form textarea{
  resize: none;
  width: 100%;
  background-color: #d3d1d1b9;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #000;
  font-size: 12px;
  max-width: 1000px;
  max-height: 1000px;
}

form .btn-enviar{
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input{
  width: 120px;
  background-color: #ff00bf;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}

/* Estilo roda pé */

footer{
  padding: 40px 4%;
}

footer .line-footer p i{
  color: #ff00bf;
  font-size: 22px;
}

footer .line-footer p a{
  color: #000;
}

footer .line-footer{
  padding: 20px 0;
}

.borda{
  border-top: 2px solid #ff00bf;
}

@media screen and (min-width: 1021px) {
  .menu-mobile ul {
    display: none;
  }

  button#btn-menu{
    display: none;
  }
}

@media screen and (max-width: 1020px){
  /* cabeçalho */
  .menu-desktop, .btn-contato{
    display: none;
  }

  .txt-topo-site h1{
    font-size: 25px;
    padding: 20px 8;
    text-align: justify;
  }

  .txt-topo-site p{
    font-size: 16px;
    padding: 20px 8;
    text-align: justify;
  }



  section.topo-do-site{
    padding: 20px 8%;
  }
  .logo img{
    width: 125px;
  }

  .logo-footer img{
    width: 125px;
  }
  .flex{
    flex-direction: column;
  }

  section.sobre{
    padding: 40px 4%;
  }

  .sobre .txt-sobre{
    color: #000;
  }

  .sobre .txt-sobre h2{
    margin: 30px 0;
    font-size: 25px;
    padding: 20px 8;
    text-align: justify;
  }

  .sobre .txt-sobre h2 span{
    color: #ff00bf;
  }

  .sobre .txt-sobre p{
    font-size: 16px;
    padding: 20px 8;
    margin: 30px 0;
    text-align: justify;
  } 

  section.sobre .flex{
    gap: 60px;
    align-items: center;
  }

  .menu-mobile ul{
    background-color: #0000008c;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 127px;
    left: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
    }

    .menu-mobile.abrir ul{
      visibility: visible;
      height: calc(400vh - 127px);
    }
  
    .menu-mobile ul li:hover{
      background-color: #000000c4;
      }
    
    .menu-mobile ul li {
      display: block;
      padding: 20px 30px;
      font-size: 16px ;
    }
  
    .menu-mobile ul li a{
      color: #fff;
      text-decoration: none;
    }
    #btn-menu{
      width: 75px;
      height: 75px;
      border: 4px solid #313131;
      background: transparent;
      border-radius: 10px;
      position: absolute;
      right: 30px;
      top: 45px;
      cursor: pointer;
    }

    .linha{
      width: 45px;
      height: 3px;
      background-color: #313131;
      display: block;
      margin: 10px auto;
      position: relative;
      transform-origin: center;
      transition: .2s;
    }
    #btn-menu.ativo .linha:nth-child(1){
      transform: translateY(12px) rotate(-45deg);
      background-color: #ff00bf;
    }
    #btn-menu.ativo .linha:nth-child(3){
      transform: translateY(-15px) rotate(45deg);
      background-color: #ff00bf;
    }
    #btn-menu.ativo .linha:nth-child(2){
      width: 0;
    }
    #btn-menu.ativo{
      border: 4px solid #ff00bf;
    }
}